html(lang='tr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(
      rel='stylesheet',
      href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css'
    )
    link(
      rel='stylesheet',
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css'
    )
    link(rel='stylesheet' href='/css/style.css')
    title Home Page

  body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='/') Shopping
        u.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href='') Login
          li.nav-item
            a.nav-link(href='') Register

    .container.pt-100
      .row
        .col-3
          .list-group
            a.list-group-item(href='') Category 1
            a.list-group-item(href='') Category 2
            a.list-group-item(href='') Category 3

        .col-9
          #mySlider.carousel.slide(data-bs-ride='carousel')
            .carousel-indicators
              button.active(
                type='button',
                data-bs-target='#mySlider',
                data-bs-slide-to='0',
                aria-current='true',
                aria-label='Slide 1'
              )
              button(
                type='button',
                data-bs-target='#mySlider',
                data-bs-slide-to='1',
                aria-label='Slide 2'
              )
              button(
                type='button',
                data-bs-target='#mySlider',
                data-bs-slide-to='2',
                aria-label='Slide 3'
              )
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='https://loremflickr.com/900/350/dog' alt='')
              .carousel-item
                img.d-block.w-100(src='https://loremflickr.com/900/350/cat' alt='')
              .carousel-item
                img.d-block.w-100(src='https://loremflickr.com/900/350/bird' alt='')
            button.carousel-control-prev(
              type='button',
              data-bs-target='#mySlider',
              data-bs-slide='prev'
            )
              span.carousel-control-prev-icon(aria-hidden='true') 
            button.carousel-control-next(
              type='button',
              data-bs-target='#mySlider',
              data-bs-slide='next'
            )
              span.carousel-control-next-icon(aria-hidden='true') 
          .row
            .col-4
              .card.mt-3
                img.card-img-top(src='https://loremflickr.com/700/700/computer' alt='')
                .card-body
                  h5.card-title
                    .a.text-decoration-none(href='#') Product Name
                  p.card-text.pt-2 Lorem ipsum dolor sit.
                .card-footer
                  small.text-muted
                    i.fa.fa-lira-sign 
                    span 100

                    a.btn.btn-secondary.btn-sm.float-end(href='#')
                      i.fa.fa-angle-double-right
                      span Details
            .col-4
              .card.mt-3
                img.card-img-top(src='https://loremflickr.com/700/700/shop' alt='')
                .card-body
                  h5.card-title
                    .a.text-decoration-none(href='#') Product Name
                  p.card-text.pt-2 Lorem ipsum dolor sit.
                .card-footer
                  small.text-muted
                    i.fa.fa-lira-sign 
                    span 100

                    a.btn.btn-secondary.btn-sm.float-end(href='#')
                      i.fa.fa-angle-double-right
                      span Details

            .col-4
              .card.mt-3
                img.card-img-top(src='https://loremflickr.com/700/700/house' alt='')
                .card-body
                  h5.card-title
                    .a.text-decoration-none(href='#') Product Name
                  p.card-text.pt-2 Lorem ipsum dolor sit.
                .card-footer
                  small.text-muted
                    i.fa.fa-lira-sign 
                    span 100

                    a.btn.btn-secondary.btn-sm.float-end(href='#')
                      i.fa.fa-angle-double-right
                      span Details

            .col-4
              .card.mt-3
                img.card-img-top(src='https://loremflickr.com/700/700/books' alt='')
                .card-body
                  h5.card-title
                    .a.text-decoration-none(href='#') Product Name
                  p.card-text.pt-2 Lorem ipsum dolor sit.
                .card-footer
                  small.text-muted
                    i.fa.fa-lira-sign 
                    span 100

                    a.btn.btn-secondary.btn-sm.float-end(href='#')
                      i.fa.fa-angle-double-right
                      span Details

    script(
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js'
    )
