extends ../layouts/main-layout.pug

block content
    .row
        .col-3
            img(src=`/img/${product.imageUrl}` alt=`${product.description}`).img-fluid
        .col-9.ps-3   
            h1.mb-3 #{product.name}
            hr
            each category in categories
                a.btn.btn-link.p-0.mb-3(href=`/categories/${category._id}`) #{category.name}
                span #{" "}
            .mb-3 
                h4.text-primary.mb-3 #{product.price} TL
                form(action="/cart" method="POST")
                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                    input(type="hidden" name="productId" value=`${product._id}`)
                    button.btn.btn-primary.btn-lg(type='submit')
                        span Add to Cart
    .row   
        .col-12
            hr
            p.p-3 #{product.description}